<div class="topofGuruGuide" class="row">

  <div class="large-9 columns">
    <h2>Request a Guru Below</h2>

    <div class="submitTab" class="section-container tabs" data-section="">
      <section class="section">
        <div class="content" data-slug="panel1">
          <form ng-submit="submitRequest()">
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Title:</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="searchTitle" placeholder="Seeking financial advice" ng-model="request.title" required>
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Tags:</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="guruTags" placeholder="Roth, Mutual funds, CDs" ng-model="request.tags" required>
              </div>
            </div>
            <label>Request Details</label>
            <textarea rows="7" ng-model="request.desc" required></textarea>
            <button type="submit" class="radius button">Submit</button>
            <div data-alert ui-sref="profile" ng-show="showSuccessAlert === true" class="alert-box success radius">
              <h3>{{alertMessage}}</h3>

              <h6>{{sendEm}}</h6>
              <a href="#" class="close">&times;</a>
            </div>
          </form>

        </div>
      </section>
    </div>
  </div>

</div>

<script>
$(document).foundation();
</script>
