<div class="topofGuruGuide" class="row">

  <div class="large-9 columns">
    <h2>Request a Guru Below</h2>

    <div class="submitTab" class="section-container tabs" data-section="">
      <section class="section">
        <div class="content" data-slug="panel1">
          <form ng-submit="submitRequest()">
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Title:</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="searchTitle" placeholder="Seeking financial advice" ng-model="request.title" required>
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Tags:</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="guruTags" placeholder="Roth, Mutual funds, CDs" ng-model="request.tags" required>
              </div>
            </div>
            <label>Request Details</label>
            <textarea rows="7" ng-model="request.desc" required></textarea>
            <button type="submit" class="radius button">Submit</button>
            <div data-alert ui-sref="profile" ng-show="showSuccessAlert === true" class="alert-box success radius">
              <h3>{{alertMessage}}</h3>

              <h6>{{sendEm}}</h6>
              <a href="#" class="close">&times;</a>
            </div>


            <div id="myModal" ng-show="showModal" class="reveal-modal remove-whitespace open" data-reveal style="display: block; opacity: 1; visibility: visible; top: 50px;">
              <div class="row">
                <div class="large-12 columns auth-plain">
                    <a ng-click="logMeIn = false" href="#" class="button small">Login</a>
                    <a ng-click="logMeIn = true" href="#" class="button small">Register</a>

                  <div class="signup-panel left-solid" ng-controller="loginCtrl" ng-show="!logMeIn">
                    <form>
                      <div class="row collapse">
                        <div class="small-2  columns">
                          <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                          <input type="text" placeholder="Username or E-Mail" ng-model="user.login">
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          <input type="text" placeholder="password" ng-model="user.password">
                        </div>
                      </div>
                    </form>
                    <a href="#" class="button ">Log In </a>
                  </div>




                  <div class="signup-panel left-solid" ng-controller="registerCtrl" ng-hide="!logMeIn">
                    <form>
                      <div class="row collapse">
                        <div class="small-2  columns">
                          <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                          <input type="text" ng-model="user.username" placeholder="Username" required>
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2  columns">
                          <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                         <input type="email" ng-model="user.email" placeholder="E-Mail" required>
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          <input type="password" ng-model="user.pass1" placeholder="Password" required>
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          <input type="password" ng-model="user.pass2" placeholder="Verify Password" required>
                        </div>
                      </div>
                      <button type="submit">Sign Me Up!</button>
                    </form>
                  </div>

                </div>

              </div>
              <a class="close-reveal-modal" ng-click="showModal = false">×</a>
            </div>

          </form>
        </div>
      </section>
    </div>
  </div>

</div>


</div>


<footer class="row">
  <div class="large-12 columns">
    <hr>

  </div>
  </div>
</footer>


<div class="reveal-modal" id="mapModal">
  <h4>Where We Are</h4>
  <p><img src="http://placehold.it/1200x1200"></p>

  <a href="#" class="close-reveal-modal">×</a>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>


<span id="buffer-extension-hover-button" style="display: none; position: absolute; z-index: 8675309; width: 100px; height: 25px; opacity: 0.9; cursor: pointer; top: 205.188px; left: 919.5px; background-image: url(&quot;chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@2x.png&quot;); background-size: 100px 25px;"></span></body>
