<!-- <h1>Request Page</h1>
<h3><a ui-sref="bid">To Bid page</a></li> </h3>
<br>
<h3><a ui-sref="splash">Back to Splash</a></h3>
 -->


<h2 id="searchHeader">Purpose Your Next Request!</h2>
<form class="form-group" ng-submit="searchRequests()">
  <label for="filter">Search:</label>
  <input id="searchinput" ng-model="filterText" class="form-control" , type="text" , id="filter">
  <button>Search</button>
</form>
<div style="padding-top:3vw;" style: "width:100%;"class="row" id="content">
  <div class="small-10 small-offset-1 columns">
    <table style="width:100%;">
      <thead>
        <tr>
          <th width="200">Title</th>
          <th width="200">Tags</th>
          <th width="200">Details</th>
          <th width="200" class="trDescription">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests track by request._id" ng-click="showDescription(event)">
          <td>{{request.title}}</td>
          <td>{{request.tags}}</td>
          <td>{{request.details}}</td>
          <td ng-show="trDescription" colspan="9">{{request.description}}</td>
        </tr>
        <tr ng-repeat="detail in request track by request._id">
          <td>{{request.details}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
