
<!-- <h1>Request Page</h1>
<h3><a ui-sref="bid">To Bid page</a></li> </h3>
<br>
<h3><a ui-sref="splash">Back to Splash</a></h3>
 -->


 <h2 id="filterHeader">Filter Requests</h2>
 <form id="filters" class="form-group row" ng-submit="filterRequests()">
   <div class="small-6 columns">
     <label for="filter">Title:</label>
     <input ng-model="filter.title" class="form-control" type="text" placeholder='e.g. "Make Me Money"'>
   </div>
   <div class="small-6 columns">
     <label for="filter">Tags:</label>
     <input ng-model="filter.tags" class="form-control" type="text" placeholder='e.g. "Investing, Tech"'>
   </div>
   <button class="filterButton">Filter</button>
   <button type="button" ng-click="refreshList()"><i class="fi-refresh"></i> List</button>
   <button type="button" ng-click="clearFilter()">Clear Filter</button>
 </form>
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <button ng-if="pages.length > 1" ng-repeat="(key, val) in pages track by $index" ng-click="changePage($index+1)" ng-class="{ true: 'currentPage' } [$index + 1 === page]">{{$index+1}}</button>
    <h3 ng-if="!requests[0] && searchMade && !searching">No requests match your search.</h3>
    <h3 ng-if="searching || (!requests[0] && !searchMade)">Loading...</h3>
    <table class="tablesize" ng-if="requests[0] && !searching">
      <thead>
        <tr>
          <th width="160">Title</th>
          <th class="tagDataCell" width="160">Tags</th>
          <th class="descDataCell" width="160">Description</th>
          <th class="timeDataCell" width="160">Requested At</th>
          <th width="160">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests track by request._id" >
          <td>{{request.title}}</td>
          <td class="tagDataCell"><span ng-repeat="tag in request.tags track by $index" class="requestTag">{{tag}}</span></td>
          <td class="descDataCell">{{request.description}}</td>
          <td class="timeDataCell">{{getDate(request.timestamp)}}</td>
          <td>
            <button ng-click="showRequestDetails(request._id)" >Details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-if="pages.length > 1" ng-repeat="(key, val) in pages track by $index" ng-click="changePage($index+1)" ng-class="{ true: 'currentPage' } [$index + 1 === page]">{{$index+1}}</button>
  </div>
</div>
