$footerHeight: 94px;

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
  padding-bottom: $footerHeight;
}

.title-area {
  .menu-icon {
    //This keeps the menu button on top of the dropdown options
    z-index: 1000;
  }
}

.top-bar-section {
  display: inline-block;
  height: 100%;
}
// some mobile resets
.logo {
  width: 60px;
  height: 60px;
  margin: 5px 5px 5px 5px;
  //This keeps the logo above the backgound of the profile entry of the navbar
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  &:hover {
    cursor: pointer;
  }
}
.menu-icon {
  padding-top: 1.2rem;
}
.top-bar.expanded {
  background: #333;
}

#navbar_items ul li {
  height: 100%;
  a {
    font-size: 19px;
    padding-bottom: 15px;
  }
}
.top-bar {
  height: 70px;
  text-align: center;
}
.top-bar-section li:not(.has-form) a:not(.button){
  padding-top: 10px;
}
.full-buttons {
  height: 70px;
}

footer#contact{
    background: #fff;
    bottom: 0px;
    position: absolute;
    width: 100vw;
    height: $footerHeight;
    //This prevents the footer from covering anything on the page (it currently covers any tables which increase the height of the window)
    z-index: -1;
    a {
      z-index: 1000;
    }
    li {
      display: inline-block;
      >ul>li {
        padding: 5px 0;
      }
    }
}

.alert-box {
  width: 50vw;
  height: 16vh;
  max-height: 25vh;
  margin-right: 25vw;
  margin-left: 25vw;
  margin-top: -25vh;
  position: fixed;
  font-size: 3vh;

}

@media (max-width:725px) {
  .logo {
    display: none;
  }
}

@media (max-width:640px) {
  .logo {
    display: inline-block;
    width: 42px;
    height: 42px;
  }
  .top-bar-section {
    ul {
      li {
        width: 100vw;
        &:first-of-type {
          margin-top: 52px;
        }
      }
    }
  }
  .top-bar {
    height: 52px;
  }
}



.fi-social-facebook {
  font-size: 20px;
}
