#searchHeader{
  text-align: center;
}

#searchinput{
  width:300px;
}

.tablesize{
  width:100%;
}

.aboveHeader{
  padding-top:3vw;
  width:100%;

}

.topofGuruGuide{
  margin-top: 15vh;
}

.submitTab{
  margin-top: 5vh;
}
iframe {
  height: 50vh;
  width: 70vw;
}

.timeOut {
  align-items: flex-end;
}
