#filterHeader{
  text-align: center;
}

#filters {
  text-align: center;
}

.tablesize{
  width:100%;
}

.aboveHeader{
  padding-top:3vw;
  width:100%;

}

.topofGuruGuide{
  margin-top: 15vh;
}

.timeOut {
  align-items: flex-end;
}

.SearchLabel{
  margin-left:38vw;
}
