<!DOCTYPE html>
<html ng-app='crowdGuru'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='sass/style.scss' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js" />
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>


  </head>
  <body>
    <div class="header-wrapper" id="headerWrapper">
  	<div class="header">

  		<a href="/" class="logo"><img src="" alt=""></a>
  		<ul class="nav">
  			<li class="splashPage"><ui-sref="/">Home</a></li>
  			<li class="requestPage"><ui-sref="/">Bid Search</a></li>
        <li class="bidPage"><ui-sref="/">Live Bids</a></li>
        <li class="GuruProposal"><ui-sref="/">GuruProposal</a></li>
        <li class="Profile"><ui-sref="/">Profile</a></li>
        <li class="Register"><ui-sref="/">Register</a></li>
        <li class="Login"><ui-sref="/">Login</a></li>
        <li class="Logout"><ui-sref="/">Logout</a></li>
        <li class="About"><ui-sref="/">About</a></li>

  		</ul>
  	</div> <!--header-->
  </div>
    <ui-view></ui-view>
  </body>
</html>
