<h1>New Bid for {{styledUsername || username}}'s request</h1>
<h4>Title: {{request.title}}</h4>
<h4>Description: {{request.description}}</h4>
<h5>Current Bids: {{request.bids.length}}</h5>
<ul class="requestTags">
  <li ng-repeat="tag in request.tags">{{tag}}</li>
</ul>
<p></p>
<form ng-submit="submitBid()">
  <label>Comment</label>
  <input type="text" ng-model="bid.title" required>
  <label>Aditional Info</label>
  <input type="text" ng-model="bid.desc" required>
  <button>Submit New Bid</button>
</form>
