<div style="padding: 10vw;">
<div class="row">
  <h1>{{styledUsername || username}}'s request</h1>
</div>

<div class="row">
  <div class="medium-4 columns">
    <h3>{{request.title}}:</h3>
  </div>
  <div class="medium-8 columns">
    <h3><em>    {{request.description}}<em></h3>
  </div>
</div>
<h6>Current Bids: {{request.bids.length}}</h6>

<hr>

<form ng-submit="submitBid()">
  <label>Comment</label>
  <input type="text" ng-model="bid.title" placeholder="What make you the right Guru" required>
  <label>Aditional Info</label>
  <input type="text" ng-model="bid.desc" placeholder="links, profiles, projects... " required>
  <button>Submit New Bid</button>
</form>
</div>
<div data-alert ng-click="showInfoAlert = !showInfoAlert" ui-sref="requestSearch" ng-show="showInfoAlert" class="alert-box info radius">
  <h4>{{alertMessage}}</h4>
  <h6>{{sendEm}}</h6>
  <a href="#" class="close">&times;</a>
</div>
<div data-alert ng-click="showWarningAlert = !showWarningAlert" ng-show="showWarningAlert" class="alert-box warning round">
  <h4>{{warnMessage}}</h4>
  <h6>{{warnData}}</h6>
  <a href="#" class="close">&times;</a>
</div>
