<h1>bidPage</h1>
<h3><a ui-sref="requestSearch">Back to Request search Page</a></h3>
<div class="row">

  <div class="small-9 columns">
    <div class="row">
      <form>

        <label>Comment</label>
        <textarea style="width: 450px;" rows="4"></textarea>
        <button type="submit" class="radius small button">Submit</button>
      </form>
    </div>
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&amp;text=[img]"></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>
        <h6>2 Comments</h6>
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&amp;text=[img]"></div>
          <div class="large-10 columns">
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&amp;text=[img]"></div>
          <div class="large-10 columns">
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&amp;text=[img]"></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&amp;text=[img]"></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>
        <h6>2 Comments</h6>
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&amp;text=[img]"></div>
          <div class="large-10 columns">
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="small-3 columns">

  </div>
</div>
