.buttonToggle {
  background-color: lightgrey;
}

#profiledesc {
  padding-left: 130px;
}

.palignment{
  text-align: center;
}

.proPic {
  height: 300px;
  width: auto;
}

.requestListing {
  padding: 0px 0px 0px 0px;
  text-align: center;
  >i {
    margin: 0px 0px 0px 0px;
    font-size: 24px;
    padding: 12px 12px 12px 12px;
    color: #008CBA;
    &:hover {
      color: #007095;
      cursor: pointer;
    }
  }
}
