<h1>Profile</h1>
<!-- <h3><a ui-sref="splash">Back to Splash</a> --> <a href="" ui-sref="changePassword">Change Password</a></h3>
<div class="row">
  <div class="medium-6 columns">
    <img class="proPic" src="{{gravitarURL}}">


  </div>
  <div class="medium-6 large-5 columns">
    <h3>{{userProfile.styledUsername}}</h3>
    <a ng-click="aboutInput = !aboutInput"  >Edit</a>
    <p class="aboutMe">{{aboutMe}} </p>

<form ng-submit="updateAboutMe(string)" ng-show="aboutInput" >
    <input type="text" ng-model="newAboutMe">
     <button>Submit</button>
  </form >
  </div>
  <hr>
</div>
<div class="row">
<a class="button" ng-disabled="guruToggle" ng-click="showGuru()">Toggle Guru Stats</a>
<a class="button" ng-disabled="reqToggle" ng-click="showReq()">Toggle Req Stats</a>
</div>

</div>

<div class="palignment" class="row" >
  <h3>Recent Activity</h3>
</div>
<div class="row" ng-show="Guru">
  <div class="medium-10 columns">
    <h5>Bid History</h5>
    <table>
      <thead>
        <tr>
          <td>user</td>
          <td class="tableBidName">request</td>
          <td>description</td>
          <td>title</td>
          <td>timestamp</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bid in bids track by $index">
          <td>{{bid.user}}</td>
          <td>{{bid.request}}</td>
          <td>{{bid.description}}</td>
          <td>{{bid.title}}</td>
          <td>{{bid.timeStamp}}</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>
<div class="row" ng-show="Req">
  <div class="medium-10 columns">
    <h5>Request History</h5>
    <table>
      <thead>
        <tr>
          <td>Date</td>
          <td class="tableBidName">Req Name</td>
          <td>Req Status</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "request in requests track by $index">
          <td>{{request.timestamp}}</td>
          <td>{{request.title}}</td>
          <td>{{request.description}}</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>

</div>
<div class="row"  style="height: 33vh;"></div>
