<h1>profilePage</h1>
<h3><a ui-sref="splash">Back to Splash</a></h3>
<div class="row">
  <div class="medium-6 columns">
    <img class="thumbnail" src="images/gammasquadsquirtlechomp.jpg">

  </div>
  <div class="medium-6 large-5 columns">
    <h3>User Profile</h3>
    <p class="aboutMe">I Make money for you </p>

    
  </div>
  <hr>
</div>
<div class="row">
<a class="button" ng-disabled="guruToggle" ng-click="showGuru()">Toggle Guru Stats</a>
<a class="button" ng-disabled="reqToggle" ng-click="showReq()">Toggle Req Stats</a>
</div>


<div class="palignment" class="row" >
  <h3>Recent Activity</h3>
</div>
<div class="row" ng-show="Guru">
  <div class="medium-10 columns">
    <h5>Bid History</h5>
    <table>
      <thead>
        <tr>
          <td>Date</td>
          <td class="tableBidName">Bid Name</td>
          <td>Bid Status</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Open</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Open</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Open</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>
<div class="row" ng-show="Req">
  <div class="medium-10 columns">
    <h5>Request History</h5>
    <table>
      <thead>
        <tr>
          <td>Date</td>
          <td class="tableBidName">Req Name</td>
          <td>Req Status</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Open</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Open</td>
        </tr>
        <tr>
          <td>today</td>
          <td>My Bids</td>
          <td>Closed</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>
<div id="profiledesc" class="column row">
  <hr>
  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1" ng-show="Guru">
      <h4>What people have said about my Guru skills</h4>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
          <h5>Mike Stevenson</h5>
          <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
        </div>
      </div>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
          <h5>Mike Stevenson</h5>
          <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
        </div>
      </div>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
          <h5>Mike Stevenson</h5>
          <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
        </div>
      </div>
      <label>
        My Review
        <textarea placeholder="None"></textarea>
      </label>
      <button class="button">Submit Review</button>
    </div>

    <div class="tabs-panel is-active" id="panel2" ng-show="Req">
      <h4>What people have said about me as a student</h4>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
          <h5>Bob Stevenson</h5>
          <p>This dude sucks</p>
        </div>
      </div>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
          <h5>Mike Stevenson</h5>
          <p>Wheres my money??? </p>
        </div>
      </div>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
          <h5>Cat Stevenson</h5>
          <p>Great guy, pays you quik</p>
        </div>
      </div>
      <label>
        My Review
        <textarea placeholder="None"></textarea>
      </label>
      <button class="button">Submit Review</button>
    </div>
  </div>
</div>
</div>
