

    <div id="top">

    </div>

    <section class="jumbo">
        <div class="row">
            <div class="medium-6 columns">

                <p class="text-center">
                    <a ui-sref="requestSearch" class="medium button">Search Bids</a>
                </p>

            </div>
            <div class="medium-6 columns">

              <p class="text-center">
                <a ui-sref="requestNew" class="medium button">I need a Guru</a>
              </p>

            </div>
        </div>
        <div class="row">
        </div>
    </section>

    <section id="about">
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="text-center">
                    <h2>What we do!</h2>
                    <p>We want to link together the best minds. We provide the platform and place to make this happen. Have you ever wondered where to invest and how? Have no fear, CrowdGuru is here! We are filled with people that want to make a difference.  </p>
                </div>
                <div>
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                        <li>
                            <img src="images/rocket.jpg" alt="image1" />
                            <h3 class="text-center">Boost your knowledge</h3>
                            <p>Are you stuck on a problem and not sure what to do? CrowdGuru will help you boost your knowledge in ways you never knew possible</p>
                        </li>
                        <li>
                            <img src="images/roi.jpg" alt="image2" />
                            <h3 class="text-center">Move Up</h3>
                            <p>It is about pushing yourself and taking your account balance to new levels you never would think was possible.</p>
                        </li>
                        <li>
                            <img src="images/hands.jpg" alt="image3" />
                            <h3 class="text-center">A Team Effort</h3>
                            <p>No matter if you are a Guru or seeker of knowledge. CrowdGuru is a teameffort where a community of like minded individuals come together to make it a positive environment for one another.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="row">
            <div class="large-12 columns">
                <h2>Why Join CrowdGuru?</h2>
                <h4 class="text-center">Your Destination for all your investment advice!</h4>
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                    <li>
                        <img class="th" src="images/whyjoinone.jpg" alt="image1" />
                    </li>
                    <li>
                        <img class="th" src="images/whyjointwo.jpg" alt="image2" />

                    </li>
                    <li>
                        <img class="th" src="images/whyjointhree.jpg" alt="image3" />
                    </li>
                    <li>
                        <img class="th" src="images/whyjoinfour.jpg" alt="image1" />
                    </li>


                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div id="contact">
            <div class="row">
                <div class="large-12 columns">

                    <div>
                        <ul class="small-block-grid-1 large-block-grid-4">
                            <li>
                                <h3>ZRA</h3>
                                <p>Founders of CrowdGuru</p>
                            </li>
                            <li>
                                <h3>Become a Guru</h3>
                                <p>Here is How</p>

                            </li>
                            <li>
                                <h3>Contact Us</h3>
                                <p>crowdguru@cg.com</p>
                            </li>
                            <li>
                                <h3>Social Media</h3>
                                <p>Facebook</p>
                                <p></p>
                                <ul>
                             <!--        <li>
                                        <i class="fi-telephone"></i> (512)111-2222
                                    </li>
                                    <li>
                                        <i class="fi-home"></i> 1234 Lorem ipsum<br>Austin TX, 78681</li>
                                    <li>
                                        <i class="fi-mail"></i> info@yourdomain.com
                                    </li> -->
                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
