

    <div id="top">
        
    </div>
    <div class="whatWeDo" class="row">
    <div class="text-center">
        <h2 class="whatWeDoHeader">What we do</h2>
        <p class="whatWeDoText">We link together the best minds and provide the place to make this happen. <!-- Have you ever wondered where to invest and how? Have no fear, CrowdGuru is here! We are filled with people that want to make a difference. --></p>
    </div>
    </div>

    <section class="jumbo">
    
    
    </section>

    <section id="about">
     <div class="row">
           <div class="small-6 columns circles small-push-6">
           <img class="img-circle" src="images/whyjoinone.png">
        </div>
        <div id="imageOne" class="small-6 columns small-pull-6">
            <h2 class="subHeaders">ADDING VALUE</h2>
            <p class="imageOneLineSpacing">Are you stuck on a problem and not sure what to do? CrowdGuru will help you boost your knowledge in ways you never knew possible. It is about pushing yourself and taking your account balance to new levels you never would think was possible.</p>
        <div class="row">
            <div class="medium-6 columns">

                <p class="text-center">
                    <a ui-sref="requestNew" id="help" class="medium button">Request Help</a>
                </p>

            </div>
        </div>
        </div>
     </div>
    
    </section>

    <section id="aboutOne">
    <div class="row">
       <div id="imageOne" class="small-6 columns small-push-6">
            <h2 class="subHeaders">CONNECTING PEOPLE</h2>

            <p class="imageOneLineSpacing">Everyone here is to assist each other. The goal of CrowdGuru is for everyone to gain knowledge and meet some really awesome individuals. People join CrowdGuru for one common goal, to find the investment advice they need. </p>

        <div class="row">
            <div class="medium-6 columns">

                <p class="text-center">
                    <a ui-sref="requestSearch" id="help" class="medium button">Find Requests</a>
                </p>

            </div>
        </div>
        </div>



      
      <div class="small-6 columns circles small-pull-6">
           <img class="img-circle" src="images/whyjointwo.png">
        </div>
    </div>
     
</section>


    <section id="about">
     <div class="row">
           <div class="small-6 columns circles small-push-6">
           <img class="img-circle" src="images/whyjointhree.jpg">
        </div>
        <div id="imageOne" class="small-6 columns small-pull-6">
            <h2 class="subHeaders">ROAD TO SUCCESS</h2>
            <p class="imageOneLineSpacing">Over the years, many people have viewed success as the gaining of fame and fortune. While this is true, success encompasses all kinds of prosperity. Fame and fortune is just one form. For the most part, in order to be and feel successful, one needs to have worked at it. </p>
        <div class="row">
            <div class="medium-6 columns">

                <p class="text-center">
                    <a ui-sref="register" id="help" class="medium button">Sign Up</a>
                </p>

            </div>
        </div>
        </div>
     </div>
    </section>


    <section id="aboutOneLast">
    <div class="row">
       <div id="imageOne" class="small-6 columns small-push-6">
            <h2 class="subHeaders">COMMUNITY GOALS</h2>
            <p class="imageOneLineSpacing">Goals give you direction in all areas of your life Personal, Career,Spiritual, Material, and Contribution. Goals give you a purpose in life. A reason to get up early in the morning and go to bed late at night.</p>
                <div class="row">
            <div class="medium-6 columns">

                <p class="text-center">
                    <a ui-sref="profile" id="help" class="medium button">About Us</a>
                </p>

            </div>
        </div>
        </div>
      
      <div class="small-6 columns circles small-pull-6">
           <img class="img-circle" src="images/whyjoinfour.png">
        </div>
    </div>
</section>



    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
